@{
    ViewData["Title"] = "ADMIN";
}

<h1>ADMIN</h1>

<div class="text-center">
    <a asp-action="Users" class="btn">Список користувачів</a>
</div>

<div class="text-center">
    <a asp-action="Roles" class="btn">Список ролей</a>
</div>
